.s-slider-v-centered .s-slider-block__title-nav {
    color: white;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    position: absolute;
}

.al-testimonial .s-slider-prev::after{
    content: "";
    position: absolute;
    top: 7px;
    right: 7px;
    left: 0px;
    height: 100%;
    width: 100%;
    border-width: 0.5px;
    border-style: solid;
    border-color: var(--btn-bg);
    background-color: transparent;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 300ms;
}


.al-testimonial .s-slider-next::before{
    content: "";
    position: absolute;
    top: 7px;
    right: 48px;
    left: 0px;
    height: 100%;
    width: 100%;
    border-width: 0.5px;
    border-style: solid;
    border-color: var(--btn-bg);
    background-color: transparent;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 300ms;
}


.s-slider-v-centered .s-slider-block__title-nav button.swiper-button-disabled {
    opacity: 0.5;
}

.al-testimonial .s-slider-v-centered .s-slider-block__title-nav{
    top: -22% !important;
    left: 10%;
}

.s-slider-nav-arrow {
    border-radius: 0px;
    padding: 10px;
    box-shadow: 1px 1px 2px 2px white !important;
}

  
@media (max-width: 576px) { 
    .al-testimonial .s-slider-v-centered .s-slider-block__title-nav {
        left: 20%;
    }
}

.s-slider-nav-arrow svg{
    fill: #fff  !important;
}
