.no-content-placeholder{
    @apply h-full text-gray-400 pt-10 pb-20 flex items-center flex-col justify-center;

    .icon{
      @apply text-5xl mb-4 w-32 h-32 flex justify-center items-center rounded-full bg-gray-100 text-gray-300;
    }

    p{
      @apply text-base text-gray-500 mb-4;
    }
}

.LA_limited-time-offers{
  .offers-slider-item{
    &-wrapper{
      @media (max-width: 768px) {
        gap: 50px 0;
        justify-content: space-between;
      }
    }
    &-content{
      padding-right: clamp(1.5rem, -0.7347rem + 9.5347vw, 8.8rem);
      gap: 20px;
      display: flex;
      flex-direction: column;
      align-items: self-start;
      @media (max-width: 768px) {
        padding-top:32px;
        padding-left: 40px;
        gap:10px
      }
      &-title{
        font-size: clamp(0.875rem, 0.7602rem + 0.4898vw, 1.25rem);
      }
      &-primary{
        h2{
          font-size: clamp(1.5rem, 1.1939rem + 1.3061vw, 2.5rem);
          font-weight: 700;
          margin-bottom: 10px;
          line-height: 1.2;
          @media (max-width: 768px) {
            margin-bottom: 8px;
          }
        }
      }
      &-sub{
        font-size: clamp(0.875rem, 0.6837rem + 0.8163vw, 1.5rem);
      }
      &-button{
        font-size: clamp(0.875rem, 0.6837rem + 0.8163vw, 1.5rem);
        margin-top: 27px;
        @media (max-width: 768px) {
          margin-top: 3px;
        }
      }
    }
    .s-count-down-wrapper{
      display: flex;
      justify-content: center;
    }
    .s-count-down-list{
      padding: 0;
      margin: 0;
      margin-left: 159px;
      width: 265px;
      @media (max-width: 1024px)  {
        margin-left: 30px;
      }
      @media (max-width: 768px) {
        width: 207px;
        padding-bottom: 34px;
      }
    }
    .s-count-down-dark .s-count-down-item::after{
      content: "";
      height: 560px;
      width: 2px;
      @media (max-width: 768px) {
        border: 1px solid transparent;
        background-color: transparent;
        border-image: linear-gradient(45deg, #ffffff, #ffffff00);
        border-image-slice: 1;
        height: 134px;
        margin-top: 15px;
      }
    }
    .s-count-down-dark .s-count-down-item{
      gap: 25px 0;
      @media (max-width: 768px) {
        gap: 10px 0;
      }
    }
    .s-count-down-item-value{
      font-size: clamp(2rem, 1.8469rem + 0.6531vw, 2.5rem);
    }
    .s-count-down-item-label{
      font-size: clamp(0.875rem, 0.7602rem + 0.4898vw, 1.25rem);
      opacity: 1;
    }
    .s-count-down-dark .s-count-down-item:last-child:after{
      display: none;
    }
  }
}

/* Product card styles */


.s-product-card {
  &-entry {
    justify-content: start;
  }

  &-image {
    aspect-ratio: 1/1;
    height: unset;
    background-color: #ffffff;
    &::before {
      font-family: "sallaicons";
      content: "\ec1f" !important;
    }
  }

  &-vertical {
    .s-product-card-content-footer{
      width: 100%;
      .s-button-btn, .s-price-range-number-input{
        border-radius:0 ;
        -webkit-border-radius:0 ;
        -moz-border-radius:0 ;
        -ms-border-radius:0 ;
        -o-border-radius:0 ;
        background-color: var(--color-primary);
        color: var(--color-primary-reverse);
      }
      .s-button-text{
        font-size: 16px;
        display: flex;
        align-items: center;
        gap: 11px;
        font-weight: 400;
        @media (max-width: 768px) {
          font-size: 10px;
        }
      }
    }
  }

  &-horizontal {
    box-shadow: 0px 0px 12px 0px #0000000F;
    padding-right: 0;
    padding-left: 20px;
    .s-product-card-rating{
      display: none;
    }
    .s-product-card-content {
      align-items: self-start;
      text-align: -webkit-auto;
      width: auto;
      @apply flex-1;
    }
    .s-product-card-content-sub{
      justify-content: flex-start;
    }
    .s-product-card-content-subtitle{
      display: none;
    }
    .s-product-card-content-footer{
      flex-direction: column;
      width: auto;
      margin-top: unset;
      justify-content: center;
      .s-button-outline{
        border-color: var(--color-primary-op-30);
        border-width: 0.5px;
      }
      .s-button-icon{
        font-size: 20px;
      }
      @media (max-width: 480px) {
        .s-product-card-horizontal salla-button.s-product-card-wishlist-btn {
            position: unset;
        }
      }
    }
  }

  &-fit-height {}

  &-special {}

  &-full-image {}

  &-minimal {}

  &-donation {}

  &-shadow {}

  &-out-of-stock {}

  &-wishlist-btn {}

  &-promotion-title {
    right: 1rem;
    padding: 8px 10px;
    background-color: #BD1C1C;
    color: #FFFFFF;
    font-size: 16.8px;
    border-radius: 0;
    font-weight: 400;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    @media(max-width: 768px) {
      font-size: 10px;
    }
  }

  &-rating{
    justify-content: center;
  }

  &-content {
    align-items: center;
    text-align: center;
    &-main {}

    &-sub {
      justify-content: center;
      margin-bottom: 1rem;
      .s-product-card-sale-price h4{
        font-size: 18px;
        font-weight: 500;
        @media (max-width: 768px) {
          font-size: 12px;
        }
      }
      .s-product-card-sale-price span{
        font-size: 18px;
        font-weight: 400;
        color: var(--color-primary);
        @media (max-width: 768px) {
          font-size: 12px;
        }
      }
    }

    &-footer {
      
    }

    &-category {
      color: var(--color-primary);
      font-size: 16px;
      font-weight: 400;
      @media (max-width: 768px) {
        font-size: 12px;
      }
    }

    &-title {
      a{
        font-size: 16px;
        @media (max-width: 768px){
          font-size: 13.79px;
        }
      }
    }

    &-subtitle {}

    &-pie {
      &-svg {
        circle {}

        &-base {}

        &-bar {}
      }
    }

    // for special card
    &-extra-padding {}
  }

  &-donation-input {}
}