.whatsapp-info {
  @apply inline-block text-white bg-[#49E670] fixed bottom-[25px] right-[25px] text-[45px] text-center z-[30] rounded-full h-[55px] w-[55px] cursor-pointer;
  &.fixSingle {
    @media (max-width: 641px) {
      @apply bottom-[210px];
    }
  }
  @media (min-width: 641px) {
    @apply bottom-[30px] right-[30px];
  }
  font-family: "Lato", sans-serif;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
  box-shadow: 2px 2px 9px #2123214a;
  animation: 5s infinite buzz-whatsapp;
}
@keyframes buzz-whatsapp {
  0% {
    transform: none;
  }
  10% {
    transform: rotateZ(-20deg) scale(1.2);
  }
  13% {
    transform: rotateZ(25deg) scale(1.2);
  }
  15% {
    transform: rotateZ(-15deg) scale(1.2);
  }
  17% {
    transform: rotateZ(15deg) scale(1.2);
  }
  20% {
    transform: rotateZ(-12deg) scale(1.2);
  }
  22% {
    transform: rotateZ(0) scale(1.2);
  }
  100%,
  24% {
    transform: rotateZ(0) scale(1);
  }
}
